aiogram~=3.24.0
alembic~=1.18.0
APScheduler~=3.11.2
asyncpg~=0.31.0
beautifulsoup4~=4.14.3
bs4~=0.0.2
httpx~=0.28.1
mypy~=1.19.1
pydantic~=2.12.5
pydantic_settings~=2.12.0
psycopg2~=2.9.11
python-decouple~=3.8
python-dotenv
requests~=2.32.5
ruff~=0.14.11
SQLAlchemy~=2.0.45
uliweb-alembic~=0.6.9
pandas~=2.2.2
openpyxl~=3.1.3
